<form class="form-horizontal" style="margin-top:30px">
  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Nama Event <label style="color:red">*</label></label>
    <div class="col-sm-7">
      <input type="text" name="nama_event" [(ngModel)]="newevent" class="form-control" id="newevent1" style="border-radius: 0%">
    </div>
  </div>
  
  <div class="form-group">
    <label for="lokasi" class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Lokasi<label style="color:red">*</label></label>
    <div class="col-sm-7">
      <input type="text" name="lokasi" [(ngModel)]="newlokasi" class="form-control" id="lokasi" style="border-radius: 0%">
    </div>
  </div>

  <div class="form-group">
    <label for="jadwal" class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Jadwal<label style="color:red">*</label></label>
    <div class="col-sm-7">
      <input type="text" name="jadwal" [(ngModel)]="newjadwal" class="form-control" id="jadwal" style="border-radius: 0%">
    </div>
  </div>
  

  <div class="col-sm-offset-2">
    <button type="button" (click)="addEvent()" style="margin-left:20px;background-color:lightseagreen;border-style:none;padding: 6px 12px;color:white">Add Book</button>  
  </div>
  
</form>
