

<div class="container-fluid">
  <!-- <form action="/add" method="POST" style="margin:0px 50px 0px 50px">
    {{ csrf_field() }} -->

    <div class="panel panel-default">
      <div class="panel-heading">
				<strong>Event List</strong>
			</div>

      <div class="panel-body">
        <div class="form-group">
          <label for="name">Event</label>
          <input [(ngModel)]="newnama_event" type="text" class="form-control" id="name" name="nama_event"  style="width:30%">
        </div>
        <div class="form-group">
          <label for="address">Lokasi</label>
          <input [(ngModel)]="newlokasi" type="text" class="form-control" id="address" name="lokasi"  style="width:30%">
        </div>
        <div class="form-group">
          <label for="email">Jadwal</label>
          <input [(ngModel)]="newjadwal" type="text" class="form-control" id="email" name="jadwal"  style="width:30%">
        </div>
        
   
		  </div>
    </div>
  <!-- </form> -->
</div>

    
        <!-- <nav class="navbar navbar-default"> -->
<div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>List of User</strong>
      <div>
    </div>        
    <div class="user-list">
      <table class="table table-bordered table-striped">
        <tr>
          <th>ID</th>
          <th>Event</th>
          <th>Lokasi</th>
          <th>Jadwal</th>
          <th></th>
        </tr>        
        <tr *ngFor="let e of api.eventList; let i = index">
          <td>{{ e.id }}</td>
          <td>{{ u.nama_event }}</td>
          <td>{{ u.lokasi }}</td>
          <td>{{ u.jadwal }}</td>
          <td>
            <button type="submit" class="btn btn-primary" (click)= "buy()">Buy</button>
          </td>
        </tr>
      </table>
    </div>             
</div>
          


